.container{
    position: absolute;
    width: 7rem;
    height: 51.25rem;
    left: 0;
    top: 0;
}
.container header{
    position: absolute;
    left: 1.786rem;
    right: 1.786rem;
    top: 1.4rem;
    bottom: 5.686rem;
}

.houseButton{
    position: absolute;
    width: 4.5rem;
    height: 3.5rem;
    left: 1.3rem;
    top: 21.875rem;

    border: 0;
    background: var(--background);
}

.houseButton:hover svg path{
    stroke: var(--blue);
}

.houseButton:hover + .hoverHouse{
    position: absolute;
    width: 0.25rem;
    height: 3.5rem;
    left: 0;
    top: 21.875rem;
    background: #5965E0;
    border-radius: 0px 5px 5px 0px;
}

.rankingButton{
    position: absolute;
    width: 4.5rem;
    height: 3.5rem;
    left: 1.3rem;
    top: 26.375rem;
    
    background: var(--background);
    border: 0;
}
.rankingButton:hover svg path{
    stroke: var(--blue);
}

.rankingButton:hover + .hoverRanking{
    position: absolute;
    width: 0.25rem;
    height: 3.5rem;
    left: 0;
    top: 26.375rem;
    background: #5965E0;
    border-radius: 0px 5px 5px 0px;
}